.pions-selection-guessed {
    display: flex;
    gap: 20px;

    .pions-guessed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .guess-result {
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &.correct {
                background-color: black;
            }
    
            &.missed {
                background-color: white;
            }
        }


    }
}