html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background: radial-gradient(circle at 67% 83%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));;
    font-family: 'Alef', sans-serif;
    #root {
        height: 100%;
        width: 100%;
    }
}

.pion {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.1);
    float: left;

    $colors: red, blue, green, yellow, orange, violet, pink, black, white, grey, brown, cyan;

    @each $color in $colors {
        &.#{$color} {
          background-color: $color;
        }
    }
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.alerts-container {
    position: fixed;
    bottom: 20px; right: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .alert {
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        min-width: 350px;

        background-color: #2195f3b3;

        &[data-type="success"] {
            background-color: #4caf4fb8;
        }
        &[data-type="error"] {
            background-color: #f44336b0;
        }

        &[data-type="warning"] {
            background-color: #ff9900af;
        }
    }
}